@model IEnumerable<TaskItem>

<table class="table">
    <thead>
        <tr>
            <th>
            Naziv
            </th>
            <th>
              Opis
            </th>
            <th>
               Dovršeno?
            </th>
            <th>
                Datum stvaranja
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>

        </tr>
}
    </tbody>
</table>
