@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Bok!</h1>
	<p>Da bi koristili aplikaciju prvo stvorite svoj račun.</p>
	<p>Klikom na <a asp-action="Index" asp-controller="Profil">ovaj link</a> uredite svoj profil i pogledajte zadatke.</p>
</div>